body
  margin: 0
  font-family: 'Pridi', 'Sukhumvit Set', sans-serif

*
  box-sizing: border-box

.app-container
  border-bottom: solid 30px #28384b
  border-top: solid 30px #28384b

  div
    color: #28384b

  .project-item
    font-size: 3.3em
    cursor: pointer
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3)

  .current-time-slot
    font-size: 2.3em

  .remaining-time
    font-size: 3.5em

  .mentor-name
    font-size: 0.75em
